# MATLAB binary exclusions
*.mlx -crlf -diff -merge
*.p -crlf -diff -merge
*.slx -crlf -diff -merge
*.mdl -crlf -diff -merge
*.mdlp -crlf -diff -merge
*.slxp -crlf -diff -merge
*.sldd -crlf -diff -merge
*.xlsx -crlf -diff -merge
*.docx -crlf -diff -merge
*.pdf -crlf -diff -merge
*.jpg -crlf -diff -merge
*.png -crlf -diff -merge

# MATLAB exclusions
*.asv
*.mat
*.fig
*.mexa64
*.mexw64
*.mexmaci64
*.txt

# Ignore folder
data
codegen
